<%= form_for(@parish) do |f| %>
  <% if @parish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parish.errors.count, "error") %> prohibited this parish from being saved:</h2>

      <ul>
      <% @parish.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
