<div class='jumbotron'>
  <center>
    <h1>CatholicServers</h1>
    <br><br>
    <a href='users/sign_in' class='btn btn-primary btn-lg'>Sign In</a>
    <a href='/users/sign_up' class='btn btn-success btn-lg'>Sign Up</a>
  </center>
</div>
